.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    background: #075985;
    padding: 10px;
    border-radius: 3px;
    font-weight: 700;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: #075985;
    margin-bottom: 15px;
}

.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-content h3 {
    padding-left: 25px;
    padding-right: 5px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #91c949;
}